/* google font: Comforta */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Smooch+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #2980b9;
    --red: red;
    --light-color: #777;
    --light-bg: #eee;
    --white: #fff;
    --black: #2c3e50;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    --border: .1rem solid rgba(0, 0, 0, 0.3)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background: transparent;

}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 1rem;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-bg);
    min-height: 300vh;
}

section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

img {
    width: 100%;
    object-fit: cover;
}

.heading {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
    color: var(--black);
}

.section-title {
    background: var(--black);
    font-size: 6rem;
    text-align: center;
    color: var(--white);
    padding: 6rem 2rem;
    text-transform: capitalize;
    font-weight: bold;
    border-top: 1rem solid var(--main-color);
    border-bottom: 1rem solid var(--main-color);
}

.btn {
    padding: 1rem 3rem;
    text-align: center;
    display: inline-block;
    background: var(--main-color);
    font-size: 1.7rem;
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    border-radius: .4rem;
    transition: .2s;
}

.btn:hover {
    background: var(--black);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 100;
}

header .flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu_btn {
    display: none;
    font-size: 2.7rem;
    cursor: pointer;
}

header .flex .logo {
    font-size: 2.5rem;
    color: var(--black);
}

header .flex .logo i {
    margin-right: .5rem;
    color: var(--light-color);
}

nav a {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    text-transform: capitalize;
    transition: .3s;
}

nav a:hover {
    background: var(--main-color);
    color: var(--white);
}

/* ========= HEADER ENDS =========== */

.home-container {
    background: url(./assets/curvy.jpg), rgba(0, 0, 0, .6) no-repeat;
    background-blend-mode: color;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}

.home-container .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 80vh;
}

.home form {
    background: var(--white);
    padding: 3rem;
    border-radius: .5rem;
    width: 50rem;
}

.home form h3 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2.7rem;
    color: var(--light-color);
}

.home form p {
    font-size: 1.7rem;
    text-align: left;
    color: var(--light-color);
    padding: .5rem 0;
}

.home form p span {
    color: var(--red);
}

.home form input {
    background: var(--light-bg);
    width: 100%;
    padding: 1.5rem 2rem;
    margin: .5rem 0 1.8rem;
    border-radius: .5rem;
    font-size: 1.7rem;
}

.home form .btn {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* ========== HOME CONTAINER ENDS ============== */
section.category {
    padding: 6rem 0rem;
}

.box-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    gap: 1.8rem;
    align-items: center;
    justify-content: center;
}

.box-categories .box {
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: flex;
    gap: 1.4rem;
    padding: 2rem;
    border-radius: .5rem;
    transition: .2s;
}

.box-categories .box i {
    width: 4.5rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    background: var(--main-color);
    color: var(--light-bg);
    border-radius: .5rem;
}

.box-categories .box h3 {
    font-size: 1.9rem;
    text-transform: capitalize;
}

.box-categories .box span {
    font-size: 1.6rem;
    color: var(--light-color);
}

.box-categories .box:hover {
    background: var(--main-color);
}

.box-categories .box:hover h3,
.box-categories .box:hover span {
    color: var(--white);
}

.box-categories .box:hover i {
    background: var(--light-bg);
    color: var(--black);
}

/* ========= CATEGORIES ENDS ========== */



.jobs-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.box-jobs {
    box-shadow: var(--box-shadow);
    background: var(--white);
    padding: 2rem;
    border-radius: .5rem
}

.box-jobs .company {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.2rem;
    align-items: center;
}

.box-jobs .company img {
    width: 55px;
    height: 60px;
    border-radius: .5rem;
}

.box-jobs .company h3 {
    color: var(--black);
    font-size: 1.8rem;
}

.box-jobs .company span {
    color: var(--light-color);
    font-size: 1.4rem;
}

.box-jobs .job-title {
    font-size: 1.8rem;
    margin: 1.6rem 0 .8rem;
    font-weight: bold;
    color: var(--black);
}

.box-jobs .job-location {
    font-size: 1.5rem;
    /* margin: 1.6rem 0 .4rem; */
    color: var(--light-color);
}

.box-jobs .tags {
    margin: 1.8rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.box-jobs .job-tag {
    background: var(--light-bg);
    font-size: 1.6rem;
    padding: 1rem 1.8rem;
    color: var(--light-color);
    border-radius: .5rem;
}

.box-jobs .job-tag i {
    margin-right: .5rem;
}

.box-jobs .flex-btn {
    display: flex;
    justify-content: space-between;
}

.box-jobs .save-btn {
    background: var(--light-bg);
    cursor: pointer;
    width: 4rem;
    transition: .2s;
    border-radius: .5rem;
    font-size: 1.8rem;
}

.box-jobs .save-btn:hover {
    background: var(--black);
}

.box-jobs .save-btn:hover i {
    color: var(--white);
}

.center {
    /* background: #000; */
    margin: 2rem 0 1rem;
    text-align: center;
}

/* ========= LATEST JOBS ENDS ========== */

/* ================= ABOUT PAGE =================+ */


.about .box {
    background: var(--white);
    padding: 3rem;
    border-radius: .5rem;
    margin-top: 2rem;
}

.about .box h2 {
    font-size: 3rem;
    margin-bottom: 1.6rem;
    color: var(--bg);
    text-transform: capitalize;
}

.about .box p {
    font-size: 1.6rem;
    color: var(--light-color);
    line-height: 3rem;
    text-align: justify;
}

.about .box .btn {
    margin-top: 1.8rem;
}

/* ================= ABOUT PAGE ENDS =============== */

.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
}

.reviews .box {
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
}

.reviews .box .review-stars {
    background: var(--light-bg);
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem;
}

.reviews .box .review-stars i {
    color: var(--main-color);
    font-size: 1.8rem;
}

.reviews .box .review-body {
    text-align: right;
    margin: 1.6rem 0;
}

.reviews .box .review-body h3 {
    font-size: 2.3rem;
    color: var(--black);
    text-transform: capitalize;
}

.reviews .box .review-body p {
    font-size: 1.65rem;
    color: var(--light-color);
    line-height: 2.6rem;
    margin-top: 1rem;
}

.reviews .reviewer-info {
    display: flex;
    gap: 1.8rem;
    align-items: center;
}

.reviews .reviewer-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.reviews .reviewer-info h3 {
    font-size: 1.95rem;
    color: var(--black);
    margin-bottom: .6rem;
}

.reviews .reviewer-info span {
    font-size: 1.4rem;
    color: var(--light-color);
}

/* ================= REVIEWS SECTION ENDS ===================*/

/* ============== JOBS PAGE/ SECTION ========= */
.job-filter form {
    background: var(--white);
    padding: 2rem;
}

.job-filter form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.job-filter form .flex .box {
    flex: 1 1 40rem;
}

.job-filter form .flex .box p {
    font-size: 1.7rem;
    text-align: left;
    color: var(--light-color);
    padding: .5rem 0;
}

.job-filter form .flex .box p span {
    color: var(--red);
}

.job-filter form .flex .box input {
    width: 100%;
    background: var(--light-bg);
    padding: 1.4rem 1rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    margin: .5rem 0;
}

.dropdown-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: .8rem;
}

.dropdown {
    flex: 1 1 20rem;
    position: relative;
}

.dropdown .output {
    background: var(--light-bg);
    border-radius: .5rem;
    font-size: 1.7rem;
    width: 100%;
    padding: 1.4rem 1rem;
    text-transform: capitalize;
}

.dropdown .lists {
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--white);
    padding: 1rem .5rem;
    border: .2rem solid #ceccccb5;
    border-radius: .5rem;
    transition: .2s;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 10;
}

.dropdown-container .dropdown .lists:hover,
.dropdown-container .dropdown:hover .lists,
.dropdown-container .dropdown .output:focus~.lists,
.dropdown-container .dropdown .output:focus-within+.lists {
    transform: scaleY(1);
}

.dropdown .lists .item {
    font-size: 1.8rem;
    padding: 1.3rem;
    color: var(--light-color);
    cursor: pointer;
    border-radius: .5rem;
}

.dropdown .lists .item:hover {
    background: var(--light-bg);
}

.job-filter .btn {
    width: 100%;
    margin: 2rem 0 0;
    padding: 1.3rem;
}

/* ============== JOBS PAGE/ SECTION ENDS ========= */

/* ============ FOOTER ============= */
footer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

footer .box h4 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

footer .box i {
    color: var(--main-color);
    margin-right: .6rem;
    transition: .3s;
}

footer .box a {
    display: block;
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1.5rem 0;
}

footer .box a:hover {
    color: var(--main-color);
}

footer .box a:hover i {
    margin-right: 1.5rem;
}

.copyright {
    text-align: center;
    background: var(--white);
    padding: 2rem;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.copyright span {
    color: var(--main-color);
}









/* ============== MEDIA QUERIES ==============  */
@media screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .section-title {
        font-size: 5rem;
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 768px) {
    #menu_btn {
        display: inline-block;
    }

    nav {
        position: absolute;
        top: 99%;
        border-top: var(--border);
        left: 0;
        right: 0;
        padding: 1rem .5rem;
        background: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 00%);
        transition: .2s;
    }

    nav a {
        display: block;
        padding: 1.5rem 2rem;
    }

    nav.open {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


    /* ==== CATEGORIES ==== */
    .box-categories {
        grid-template-columns: repeat(auto-fit, 16.5rem);
        gap: 1.3rem;
    }

    .box-categories .box {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }


    .section-title {
        font-size: 4rem;
        padding: 3.5rem 2rem;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }


    .section-title {
        font-size: 3rem;
        padding: 3rem 2rem;
    }
}